body.container
    html
        link(rel="stylesheet", href="/css/bootstrap-grid.css")
        link(rel="stylesheet", href="/css/style.css")
block content
    h1 Bienvenu sur le blog !

    for users in user
        div.col-7
            p #{users.fullname}
            p #{users.email}
        hr